

.done{
    margin-top: 50px;
    margin-left: 10%;
}


.tick{
    font-size: 24px;
    text-decoration: underline;
     font-style: italic;
}


.bnk img{
    width: 100px;
}

.bnk{
    margin-left: 20px;
}

.footer{
   margin-left: 8%;
   margin-top: 8%;
   display: flex;
}

.row{
    /* padding: 2px 31px;
    margin: 3px 6px; */
    margin-left: 8%;
    justify-content: space-around;
}

.h4{
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family: monospace;
}

.row li{
    font-family: sans-serif;
    font-size: 15px;
}

.pam{
    color: red;
}


.re-again{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
   /* max-width: 90%; */
 
}

.duy{
margin: 2px 103px; 
}

.topper{
    margin: 4px 2px;
     display: flex; 
    flex-direction: column;  
  
}





.opdd{
    margin-top: 30px;
    margin-left: 10%;
   
}

.sio img{
    width: 90px;
}

.sio{
    margin-left: 3%;
}

/* .dif{
    display: inline-flex;
} */

.bad{
    display: flex;
    margin-top: 50px;
}

.all{
    margin-left: 5%;
}

.maf img{
    width: 100px;
    object-fit: contain;
}



.yty{
   font-weight: 600;
}


.damp{
    margin-left: 10%;
}


.sete{
    font-size: 15px;
    font-weight: 600;
}

.derts{
    display: inline-flex;
    margin-top: 10px;
    margin-left: 10px;
}

.blink-one img{
    width: 150px;
    object-fit: contain;
}

.blink-two{
    margin-left: 4px;
}

.blink-two img{
    width: 150px;
    object-fit: contain;
}



.again{
    margin-left: 7%;
}

.ready{
    font-weight: 600;
   font-family: sans-serif;
}

.follow{
    margin-top: 10px;
    margin-left: 10px;
}
.insta{
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red, purple);
  color: white;
  border-radius: 5px;
}

.twitt{
    background-color: rgb(0, 140, 255);
    color: white;
    margin-left: 8px;
    border-radius: 5px;
}

.pinters{
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-left: 9px;
}


.youtube{
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-left: 9px;
}