  /* .product{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    margin-left: 3.5%;
   padding-top: 5%;
     box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.4);
     rgb(112, 204, 161)
}   */


  .product{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    z-index: 1;
     align-items: center;
    justify-content: flex-end; 
     margin: 15px;
    padding: 30px;  
     width: 100%; 
     max-height: 325px;
    min-width: 100px; 
     padding-top: 8%; 
     box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.4); 
} 





/* .info{
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.4);
    background-color: white;
    margin: 2px 5px;
     padding-top: 5%;
    width: 370px;
    height: 430px;
} */


.info{
      height: 370px; 
     width: 100%;  
    object-fit: contain;
     margin-bottom: 15px; 
     /* width: 370px;
    height: 430px;  */
    
}

/* .product-image{
    width: 100%;
     object-fit: contain;
     /* margin-bottom: 15px; */
     /* margin-left: 10px; */
     /* height: 100%; */
     /* height: 100px; */

     .product-image{
          max-height: 275px;  
         width: 100%; 
    object-fit: contain;
        margin-bottom: 10px;
    
}
  

 .tit{
    font-size: 14px;
    margin-left: 7px;
    margin-top: 10px;
} 

 .ruppes{
    margin-left: 7px; 
    color: #3333cc;
    font-family: Arial, Helvetica, sans-serif;
} 



/* .btns{
    background-color: rgb(153, 0, 255);
    /* margin-top: 14px; */
    /* margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 20px;
    font-size: 18px;
    border: none;
    color: blanchedalmond; */
 
 

.product--button{
    /* background-color: #F7CA00; */
    color: black;
    border: 1px solid;
    /* border-radius: 24px; */
    padding: 8px 25px;
    border-color: white;
    margin-top: 25px;
    cursor: pointer;
    background: none;
    border-radius: 2px;
    border: 1px solid black;
}  

/* .product--button:hover{
    background-color: #3333cc;
    color: white;
    border: 1px solid #3333cc;
} */



 



.detrm{
  max-width: 100%;
    margin-top: 30px;
    object-fit: contain;
    z-index: 10;
  max-height: 36px;
}