.slid-im{
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
}

.carousel{
     display: inline-flex; 
   justify-content: center; 
 
}



.carousel .slide{
    height: 60vh;


}

.carousel .slide img{
    width: auto;
    max-height: 100%; 

}

.imagees{
  margin: 0 auto;  
    height: 100%;
     width: auto; 
    object-fit: cover;
}




.side-img{
   padding-right: 56px;
   margin-left: 20px;
}
.photo{
 width: 350px;
}

.crash{
    padding: 5px;
}

.location{
    padding-right: 25px;
    position: fixed;
    right: 0;
    bottom: 300px;
     width: 30px; 
    
}

.symbols{
    color: orangered;
}

.smal{
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    margin-left: 3px;
}

.banner-one {
    margin-left: 75px;
}

.banner-one img{
    width: 90%;
}


.banner-two {
    margin-left: 75px;
     margin-top: 20px;
  }
  
  .banner-two img{
      width: 90%;
  }

