.slid-im{
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
}

.carousel{
     display: inline-flex; 
   justify-content: center; 
 
}



.carousel .slide{
    height: 60vh;


}

.carousel .slide img{
    width: auto;
    max-height: 100%; 

}

.imagees{
  margin: 0 auto;  
    height: 100%;
     width: auto; 
    object-fit: cover;
}




.side-img{
   padding-right: 56px;
   margin-left: 20px;
}
.photo{
 width: 350px;
}

.crash{
    padding: 5px;
}

.location{
    padding-right: 25px;
    position: fixed;
    right: 0;
     bottom: 300px; 
     width: 34px; 
    background-color: whitesmoke;
    border: 2px solid white;
   
}

.symbols{
    color: orangered;
    margin-left: 5px;
}

.smal{
    font-weight: 600;
    font-size: 14px;
      text-align: center;
      justify-content: center;
    margin-left: 15px;
}

.banner-one {
    margin-left: 75px;
}

.banner-one img{
    width: 90%;
}


.banner-two {
    margin-left: 75px;
     margin-top: 20px;
  }
  
  .banner-two img{
      width: 90%;
  }


  .bank{
      margin-top: 20px;
  }

  .oyl{
      font-size: 19px;
      font-weight: 560;
      text-transform: uppercase;
      margin-left: 40px;
      margin-top: 15px;
  }

  .im-sli{
      display: flex;
      margin-top: 3px;
      margin-left: 60px;
  }

  .bnk-slids img{
      width: 200px;
      object-fit: cover;
  }